node_modules
.angular/cache/20.3.10/first-app/.tsbuildinfo
.angular/cache/20.3.10/first-app/vite/deps/_metadata.json
.angular/cache/20.3.10/first-app/vite/deps/@angular_common.js
.angular/cache/20.3.10/first-app/vite/deps/@angular_common.js.map
.angular/cache/20.3.10/first-app/vite/deps/@angular_core.js
.angular/cache/20.3.10/first-app/vite/deps/@angular_core.js.map
.angular/cache/20.3.10/first-app/vite/deps/@angular_forms.js
.angular/cache/20.3.10/first-app/vite/deps/@angular_forms.js.map
.angular/cache/20.3.10/first-app/vite/deps/@angular_platform-browser.js
.angular/cache/20.3.10/first-app/vite/deps/@angular_platform-browser.js.map
.angular/cache/20.3.10/first-app/vite/deps/@ngrx_signals.js
.angular/cache/20.3.10/first-app/vite/deps/@ngrx_signals.js.map
.angular/cache/20.3.10/first-app/vite/deps/chunk-HG2CUHZL.js
.angular/cache/20.3.10/first-app/vite/deps/chunk-HG2CUHZL.js.map
.angular/cache/20.3.10/first-app/vite/deps/chunk-PJYGIHRY.js
.angular/cache/20.3.10/first-app/vite/deps/chunk-PJYGIHRY.js.map
.angular/cache/20.3.10/first-app/vite/deps/chunk-RSS3ODKE.js
.angular/cache/20.3.10/first-app/vite/deps/chunk-RSS3ODKE.js.map
.angular/cache/20.3.10/first-app/vite/deps/chunk-WDMUDEB6.js
.angular/cache/20.3.10/first-app/vite/deps/chunk-WDMUDEB6.js.map
.angular/cache/20.3.10/first-app/vite/deps/date-fns.js
.angular/cache/20.3.10/first-app/vite/deps/date-fns.js.map
.angular/cache/20.3.10/first-app/vite/deps/package.json
.angular/cache/20.3.10/first-app/vite/deps/rxjs.js
.angular/cache/20.3.10/first-app/vite/deps/rxjs.js.map
.angular/cache/20.3.10/first-app/vite/deps/zone__js.js
.angular/cache/20.3.10/first-app/vite/deps/zone__js.js.map
.angular/cache/20.3.10/first-app/vite/deps_ssr/_metadata.json
.angular/cache/20.3.10/first-app/vite/deps_ssr/package.json
