/* You can add global styles to this file, and also import other style files */
html,
body {
    height: -webkit-fill-available;
    position: relative;
    display: block;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}


.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


.close-button {
    cursor: pointer;
    background-color: white;
    border-radius: 130px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.error {
  font-size: 13px;
  line-height: 13px;
  color: red;
}