/* You can add global styles to this file, and also import other style files */
html,
body {
    height: -webkit-fill-available;
    position: relative;
    display: block;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}


.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}